<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg %kvp%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Engine logger reachable for in-test appender attachment.
         Tests crank this up to TRACE via Slf4jTestAppender.attachToEngine(). -->
    <logger name="io.flowpipe.engine.Pipeline" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
